<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Modernlib - Logger</title>
</head>
<body>
    <center>
        <h1><a href="https://modernlib.herokuapp.com">Modern's E-library's</a> logdrain server</h1>
        <p>Nothing to see here, just a boring server for relaying <a href="https://modernlib.herokuapp.com">Modern's E-library's</a> logs to a private discord server.</p>
    </center>
</body>
</html>